anthropic==0.3.11
faiss-cpu==1.7.4
langchain==0.0.308
langsmith==0.0.43
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
openai==0.28.1
pypdf==3.16.2
rank_bm25==0.2.2
streamlit==1.27.1
streamlit-feedback==0.1.2
tiktoken==0.5.1
tornado>=6.3.3 # not directly required, pinned by Snyk to avoid a vulnerability
