anthropic==0.5.0
faiss-cpu==1.7.4
langchain==0.0.325
langsmith==0.0.53
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
openai==0.28.1
pypdf==3.17.0
rank_bm25==0.2.2
streamlit==1.28.0
streamlit-feedback==0.1.2
tiktoken==0.5.1
tornado>=6.3.3 # not directly required, pinned by Snyk to avoid a vulnerability
validators>=0.21.0 # not directly required, pinned by Snyk to avoid a vulnerability
pyarrow>=14.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
